<section class="sectionCarousel">
    <div class="hover-focus left-carousel">
        <h1 class="animate-bounce">FUNCTIONS</h1>
        <ul>
            <li><P>Regulating the Production Manufacture, Possession, Transport, Import, Export, Purchase and Sale of Liquor (wholesale trade of liquor).</P></li>
            <li><P>Control of Excise related crimes through detection, prevention, investigation and prosecution of offences under the law.</P></li>
            <li><P>Prevention of illicit trafficking in Narcotic Drugs and Psychotropic substances under N. D. P. S. Act, 1985.</P></li>
        </ul>
    </div>
    <div class="hover-focus right-carousel">
        <h1 class="animate-bounce">ABOUT US</h1>
        <p>Prohibition & Excise Department deals with regulation of production, manufacture, possession, transport, purchase and sale of intoxicating liquor and drugs, the levy of duties of excise and countervailing duties on alcoholic liquors for human consumption and opium, Indian hemp and other narcotic drugs and narcotics and matters connected therewith in the State of Andhra Pradesh.</p>
        <p>Prohibition & Excise Department plays the dual role of enforcing prohibition of country liquor/Illicit Distilled Liquor (Arrack) and procuring revenue through regulation of Indian Made Foreign Liquor (IMFL), Foreign Liquor (FL) and Toddy. The department, along with other State and Central Government agencies also enforces the law relating to Narcotic Drugs and Psychotropic Substances. Excise Revenue is the second largest source of revenue to the Government of Andhra Pradesh.</p>
    </div>
</section>
