<section class="section">
    <app-navbar></app-navbar>
    <div class="mainContentContactus">
<div class="main contact-panel" > 
    <div class="contact-text">
        <ul>
            <li>
                <strong>Office of Commissioner of Prohibition &amp; Excise,</strong> <br>Excise Complex, RS No.88-2B, <br>Sai Vihar Apartments, Poultry Farm Road,<br>
                Prasadampadu (V), Vijayawada-521108, <br>Amaravathi, Andhra Pradesh.
            </li>
            <li><strong>Phone:</strong>&nbsp; 0866-2428344/0866-2428345.</li>
        </ul>
   </div>
</div>
</div>
<app-footer></app-footer>
</section>