/* chatbot.component.css */
.chatbot-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  
  .chatbot-name {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    animation: fadeInOut 6s linear infinite;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
      transform: translateX(-20px);
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .chatbot-icon {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  
  .chatbot-modal {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .chatbot-header {
    background-color: #387838;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chatbot-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .chat-history {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .chat-history .user .message {
    background-color: #007bff;
    color: white;
    text-align: right;
    padding: 5px 10px;
    border-radius: 15px 15px 0 15px;
    margin: 5px 0;
  }
  
  .chat-history .bot .message {
    background-color: #e5e5e5;
    color: black;
    padding: 5px 10px;
    border-radius: 15px 15px 15px 0;
    margin: 5px 0;
  }
  
  .predefined-questions {
    margin-bottom: 10px;
  }
  
  .predefined-question {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .predefined-question:hover {
    background-color: #007bff;
    color: white;
  }
  
  .chat-input {
    display: flex;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .chat-input button {
    background-color: #383838;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .chat-input button:hover{
    background-color: green;

  }
  .register-complaint {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  