<section class="socilaIcons">
<div class="iconMain hover-focus">
<div class="social-icons">
    <h2>Follow Us</h2>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>
  <div class="contact-info">
    <h2>Contact Information</h2>
    <p>Email: <a href="mailto:excise.mail.com">excise.mail.com</a></p>
    <p>Phone: <a href="tel:1800555620">1800555620</a></p>
    <p>Open Hours: Mon - Sat 10.00 am - 5.00 pm</p>
  </div>
</div>
</section>