<section class="section">
    <app-navbar></app-navbar>
    <div class="mainContent">
                <h1>ANDHRA PRADESH</h1>
                <h1 class="contentHeading">PROHIBITION & EXCISE DEPARTMENT</h1>
                <button routerLink="/public-form">REGISTER A COMPLAINT</button>
    </div>
    <app-latest-news></app-latest-news>
    <app-carousel></app-carousel>
    <app-features></app-features>
    <app-social-media-icons></app-social-media-icons>
    <app-footer></app-footer>
</section>
