<!-- <section class="section">
<div class="topBarMain">
    <div class="content">
        <i class="fas fa-envelope"></i>
        <p>Email : excise.mail.com</p>
    </div>
    <div class="content">
        <i class="fas fa-phone"></i>
        <p>Phone : 9177013372</p>
    </div >
    <div class="content">
        <i class="fas fa-clock"></i>
        <p>Open Hours : Mon - Sat 10.00 am - 5.00 pm</p>
    </div>
    <div>
        <p>Department / Complaint / Track</p>
    </div>
</div>
</section> -->